<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShareBoard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css"></link>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.2.0/fabric.all.min.js'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.0/fabric.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>
  <body>
      <label>Options   </label><button id="draw-mode">Draw Mode: Off</button><br />
<!-- 2016/12/03 start -->
<!--  <label>Options   </label><button id="draw-bg">draw-bg</button><br /> -->
      <label>Objects   </label><span id="canvas-objects"></span>
<!--  <canvas id='canvas' width='1200' height='1000' /> -->
      <canvas id='canvas' width='600' height='600' />
<!-- 2016/12/03 end -->

    <script src="javascripts/main.js"></script>
    <script src="javascripts/socket.js"></script>
    </script>
  </body>
</html>
