canvas {
    top: 20px;
    left: 20px;
    border: 5px solid #ccc;
}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
  background-image: url("../images/lace.png");
  background-repeat: repeat-x;
 
}

/*ペンの背景*/
#pens {

background-image: url("../images/star.gif");
background-repeat: repeat-x;

}
/*ペンボタン*/
#draw-mode1{
  height: 50px;
  width: 50px;
  background-color: blue;
}
#draw-mode2{
  height: 50px;
  width: 50px;
  background-color: green;
}
#draw-mode3{
  height: 50px;
  width: 50px;
  background-color: red;
}
#draw-mode4{
  height: 50px;
  width: 50px;
  background-color: black;
  color: #fff;
}
#draw-mode5{
  height: 50px;
  width: 50px;
  background-color: white;
}
#draw-mode6{
  height: 50px;
  width: 50px;
  background-color: yellow;
}

/*NO EFFECT NOW*/
/*ペンのサムネイル用*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
}